/* MAIN CONTAINER */
.homeMainCon {
  width: 100vw;
  height: 100vh;
  background-image: url("../Images/space3.jpg");
  background-size: cover;
  background-position: center;

  filter: gray;
  filter: grayscale(40%);
}

.mainTextCon {
  padding: 40vh 0 0 5vw;
}

.mainText {
  font-size: 2.5vw;
  font-weight: 500;
  margin: 0;
}

.mainSubText {
  font-size: 2.1vw;
}




/* OPTION CONTAINER */
.homeOptionCon {
  width: 100vw;
  height: 50vh;
  background-color: black;
  text-align: center;
  font-weight: 500;
} 

.opConTitle {
  font-size: 1.7vw;
  padding: 7vh 0 3vh 0;
}

.optionsCon {
  display: grid;
  grid-template-columns: 10vw 27vw 26vw 27vw 10vw;
  grid-template-rows: auto;
}

.OptionCard {
  justify-self: center;
}

#opCardIcon {
  font-size: 4vw;
}

.opCardTitle {
  font-size: 1.5vw;
  margin-top: 2vh;
}

.opCardText {
  width: 20vw;
  font-size: 1.3vw;
}




/* TEXT CONTAINER */
.homeTextCon {
  width: 100vw;
  height: 40vh;
  display: block;
  position: relative;
  text-align: center;
}

.homeTextCon::after {
  content: "";
  background: url('../Images/space6.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.textConTitle {
  font-size: 1.7vw;
  font-weight: 500;
  padding-top: 10vh;
}

.textConText {
  font-size: 1.3vw;
  font-weight: 500;
  width: 60vw;
  margin-left: 20vw;
}