.LibraryPage {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "libinfo cards";
  text-align: center;
  margin-top: 5vh;
}

/* library info container */
#libInfoCon {
  grid-area: libinfo;
  font-weight: 500;
}

.libTitle {
  font-size: 3vh;
}

.libText {
  font-size: 2.5vh;
} 


/* media cards */
.LibMediaContainer {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "card card card";
  grid-column-gap: 2.5vw;
  grid-row-gap: 2.5vw;
}

#deleteItemFromLib {
  margin-top: 1vh;
}