.MarsWeatherPage {
  background-image: url('../Images/mars4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 40vh 15vh 45vh;
  grid-template-areas: 
    "infoCon lastDay"
    ". ."
    "weatherCon weatherCon";
}




/* information div */
.MarsWeatherInfo {
  grid-area: infoCon;
  justify-self: start;
  /* background-color: rgba(218, 54, 25, 0.582); */
  width: 30vw;
  margin: 10vh 0 0 10vw;

}




/* Weather card container & card */
.WeatherContainer {
  grid-area: weatherCon;
  justify-self: center;
}

.weatherCard {
  display: inline-block !important;
  text-align: center;
  height: 30vh;
  width: 12vw;
  margin-right: 2vw;
  padding: 2vh 0 2vh 0;
  background-color: rgba(0, 0, 0, 0.25);
  /* box-shadow: 5px 5px rgba(99, 25, 7, 0.5); */
  /* animation: glowing 3000ms infinite; */
}

@keyframes glowing {
  0% { box-shadow: 0 0 -15px rgba(99, 25, 7); }
  40% { box-shadow: 0 0 25px rgba(99, 25, 7); }
  60% { box-shadow: 0 0 25px rgba(99, 25, 7); }
  100% { box-shadow: 0 0 -15px rgba(99, 25, 7); }
}

.weatherCardSol {
  color: black;
  font-size: 1.4vw;
  font-weight: 600;
  margin: 0;
}

.weatherDate {
  color: black;
  font-size: 1.1vw;
  font-weight: 600;
  margin: 1vh 0 1vh 0;
}

/* .weatherSeason {
  font-size: 1.1vw;
  margin: 0 0 2vh 0;
  color:rgb(209, 178, 153);
  font-weight: 600;
} */

.weatherTemp {
  font-size: 1.1vw;
  font-weight: 500;
  margin: 0;
}

#thermoIcon {
  margin: 1.5vh 0 1.5vh 0;
  font-size: 1.7vw;
}




/* last day card */
.latestDayCard {
  grid-area: lastDay;
  justify-self: end;
  text-align: center;
  margin: 10vh 10vw 0 0;
  width: 20vw;
  height: 30vh;
  background-image: linear-gradient(to right, rgba(77, 23, 2, 0.637), rgb(0, 0, 0));
}

.ldSol {
  font-size: 1.5vw;
  font-weight: 500;
  margin: 0 0 1vh 0;
}

.ldDate {
  font-size: 1.3vw;
  font-weight: 500;
  margin: 0;
}

.ldContent {
  font-size: 1.2vw;
  font-weight: 500;
  margin: 0;
}

#ldThermoIcon {
  font-size: 1.4vw;
  font-weight: 500;
  margin: 1vh 0 1vh 0;
}