.MarsWeatherPage {
  background-image: url('../Images/mars4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 10vh 45vh;
  grid-template-areas: 
    "infoCon lastDay"
    "season season"
    "weatherCon weatherCon";
}



/* information div */
.MarsWeatherInfo {
  grid-area: infoCon;
  justify-self: start;
  width: 25vw;
  margin: 16vh 0 0 10vw;
  font-size: 1.1vw;
  font-weight: 500;
}



/* last day card */
.latestDayCard {
  grid-area: lastDay;
  text-align: center;
  margin: 12vh 0 0 20vw;
  width: 17vw;
  height: 33vh;
  background-image: linear-gradient(to right, rgba(83, 31, 7, 0.5), rgb(15, 15, 15));
  font-weight: 500;
  border-radius: 100px;

  animation-duration: 3s;
  animation-delay: 1s;
}

.latestDayCardTop {
  padding: 3vh 0 2vh 0;
  background-image: linear-gradient(to right, rgba(196, 151, 131, 0.212), rgba(138, 46, 4, 0.555));
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.latestDayCardBottom {
  padding-top: 2vh;
}

.ldSol {
  font-size: 1.4vw;
  margin: 0 0 1vh 0;
}
#solQuestionIcon:hover, #solQuestionIcon:active {
  font-size: 1.5vw;
}

.ldDate {
  font-size: 1.1vw;
  margin: 0;
}

.ldContent {
  font-size: 1.3vw;
  margin: 0;
}

#ldThermoIcon {
  font-size: 2.5vw;
  font-weight: 500;
  margin: 2vh 0 1.5vh 0;
}

#solModal {
  width: 20vw;
}

.solModalContent {
  background-color: rgb(10, 10, 10) !important;
  font-size: 1vw !important;
}




/* Season container */
.seasonCon {
  grid-area: season;
  font-size: 1.2vw;
  margin: 5vh 0 0 10vw;
  font-weight: 500;
}

.season {
  font-size: 1.4vw;
}





/* Weather card container & card */
.WeatherContainer {
  grid-area: weatherCon;
  justify-self: center;
}

.weatherCard {
  display: inline-block !important;
  text-align: center;
  height: 28vh;
  width: 12vw;
  margin-right: 2vw;
  /* padding: 2vh 0 2vh 0; */
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* box-shadow: 5px 5px rgba(99, 25, 7, 0.7); */
}

.weatherCardTop {
  border-bottom: 2px solid rgba(0, 0, 0, 0.733);
  padding: 2vh 0 1vh 0;
  width: 10vw;
  margin-left: 1vw;
}

.weatherCardBottom {
  margin-top: 2vh;
}

.weatherCardSol {
  color: black;
  font-size: 1.4vw;
  font-weight: 600;
  margin: 0;
}

.weatherDate {
  color: black;
  font-size: 1.1vw;
  font-weight: 600;
  margin: 1vh 0 1vh 0;
}

.weatherTemp {
  font-size: 1.2vw;
  font-weight: 500;
  margin: 0;
}

#thermoIcon {
  margin: 1.5vh 0 1vh 0;
  font-size: 2vw;
}





/* Mars climate modal */
#weatherModal {
  background-color: rgb(15, 15, 15);
  width: 90vw;
  height: 80vh;
  margin: 5vh 0 0 5vw;
  border-radius: 10px;
  font-size: 1.1vw;
  font-weight: 500;
  color: rgb(177, 169, 169);
}

.infoModalTop {
  margin: 3vh 0 0 0;
  text-align: center;
}

.infoModalTitle {
  font-size: 1.3vw;
  font-weight: 600;
  padding-left: 4vw;
  color: rgb(230, 224, 224);
}

#infoModalButton {
  float: right;
  margin: 0 2vw 0 0;
}

.modalPics {
  width: 70vw;
  text-align: center;
  margin: 0 0 3vh 8vw;
}

.modalPic1 {
  display: inline-block;
  text-align: center;
}

.pic1 {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

.modalPic2 {
  display: inline-block;
  padding: 0 0 1vh 3vw;
  text-align: center;
}

.pic2 {
  width: 34vw;
  height: auto;
  border-radius: 20px;
}

.weatherModalText {
  margin: 0 3vw 0 3vw;
  padding: 1vw 0 0 1vw;
  height: 25vh;
  overflow: auto;
  background-color: rgba(116, 111, 111, 0.178);
  border-radius: 10px;
}