.MarsRoverPage {
  text-align: center;
}

.radioButtonBox {
  border-style: solid;
  border-color: #93291E;
  padding: 1.2vh 0 1.2vh 0;
  margin: 0 10vw 0 10vw;
}

.roverCameraRadio {
  margin: 5vh 0 5vh 0;
}

.roverRadioTitle {
  font-size: 3vh;
}

.cameraRadioOption {
  margin: 0 0.2vw 0 1vw;
}

#showall {
  margin-left: 1vw;
  padding: 0.5vw 1.2vw 0.5vw 1.2vw;
  background-color: #93291E;
  color: white;
  font-weight: 500;
}

.ImgContainer {
  margin: 0 10vw 0 10vw;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "card card card";
  grid-column-gap: 2.5vw;
  grid-row-gap: 2.5vw;
  /* justify-items: stretch; */
}

.roverImgCard {
  background-color: rgba(63, 60, 60, 0.979);
}

#saveToLibButton {
  margin: 1vh 0 2vh 0;
}

.roverImg {
  height: 30vh;
  width: 25vw;
}

.imgShowContainer {
  align-content: center;
  margin-bottom: 10vh;
}

.imgShow {
  width: 70vw;
  height: auto;
}

#backToGalleryButton {
  margin-bottom: 3vh;
}