.profileContainer {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: 100%;
  grid-template-areas: 
    "userinfo libraries libraryform";
}


/* user info */
.UserInfo {
  grid-area: userinfo;
  margin: 5vh 0 0 5vw;
}


/* library card */
.LibraryContainer {
  grid-area: libraries;
}

.LibraryCard {
  width: 20vw;
  height: 25vh;
  border: 1px solid red;
  text-align: center;
}

#libraryIcon {
  font-size: 5vw;
  margin-top: 6vh;
  transform: scaleX(-1);
}

#libraryDeleteButton {
  float: right;
}


/* library form */
.NewLibraryForm {
  grid-area: libraryform;
}

#libraryForm {
  width: 20vw;
}