.SearchPage {
  text-align: center;
}

.searchFormContinaer {
  margin: 5vh 0 5vh 0;
  font-size: 3vh;
}

.ui.form.searchForm {
  width: 30vw;
  margin-left: 35vw; 
}

/* #searchBar {
  display: inline;
}

#searchSubmitButton {
  display: inline;
} */

.MediaContainer {
  margin: 0 10vw 0 10vw;
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: auto;
  grid-template-areas: 
    "card card card";
  grid-column-gap: 2.5vw;
  grid-row-gap: 2.5vw;
  /* justify-items: stretch; */
}

.mediaCard {
  background-image: linear-gradient(#333333, #93291E);
  height: 55vh;
}

.mediaVedio {
  height: 30vh;
  width: 25vw;
}

.mediaImage {
  margin-top: 2vh;
  height: 30vh;
  width: 25vw;
}

.mediaTitle {
  font-size: 2vh;
  font-weight: 600;
  padding-top: 1vh;
}

.mediaDescription {
  overflow: scroll;
  height: 10vh;
}

#libSaveButton {
  margin-top: 2vh;
}

#modalCloseButton {
  float: right;
}